* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  padding: 0 clamp(3px, 3vw, 25px);

}

/* -----------------------------------------
   BASE LINK & ICON STYLES
----------------------------------------- */

.mylinks {
  text-decoration: none;
  color: black;
}

.mylinks:hover {
  font-weight: 600;
}
.shift-link:hover {
  margin-left: 2px;
}


/* -----------------------------------------
   MAIN CONTAINERS & BOXES
----------------------------------------- */

main.cont,
main.project {
  /*default: order sections in 1 column w/some space in between them*/
  display: flex;                  /*grid*/
  flex-direction: column;         /*N/A*/
  justify-content: flex-start;    /*N/A*/
  align-items: center;            /*N/A*/

  background-color: #fff;
  padding: 2dvw;
  border-radius: 3dvw;
  /* display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    align-items: start; */
}

.box {
  flex: 1 1 auto;
  margin-top: 25px;
}

/* -----------------------------------------
   MAIN PAGE SECTIONS
----------------------------------------- */
section.profile {
  display: flex;                
  flex-direction: column;       
  justify-content: flex-start;  
  align-items: center;          
/* note: all elmements above remain in desktop view!
  grid-column: 1;
  grid-row: 1/3; */
}

section.bio {
  width: 80%;
  font-style: italic;
  font-weight: 365;
  /*
  justify-self: center;
  width: 95%;
  grid-column: 2/4;
  grid-row: 1;
  margin-top: 3rem; 
  */
}

/*intentionally blank...
section.news{}
section.projects{}*/
section.projects  h3 {
  padding: .2rem 0.6rem;
}

/*Desktop view 
.news {
  grid-column: 1;
  grid-row: 3;
}
section.projects {
  margin-top: 1rem;
  grid-column: 2/4;
  grid-row: 2 / 6;
}
*/


/* -----------------------------------------
   Sub Containers (irreleveant to dynamic view)
----------------------------------------- */
img.pfp {
  width: 75%;
  max-width: 350px;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 10px;
}


/* -----------------------------------------
   TYPOGRAPHY & HEADER STYLES
----------------------------------------- */
.ul {
  text-decoration: underline;
}
h1.name-header {
  font-size: 1.65em;
  margin-bottom: 0;
}
h2.title-header {
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
}
h2.news-header {
  font-size: 1.2em;
  font-weight: 500;
}
h3.contact-header {
  font-size: 1em;
  font-weight: 530;
}
h5.about-header {
  font-size: 1.03em;
  font-weight: 400;
}
section.projects h3 {
  font-size: 1.3em;
}
/*project page css headers*/
section.header h1 {
  /* font-size: clamp(1em, 1.5wh, 100px); */
  font-size: 1.5rem;
}
section.header p {
  font-size: 1rem;
  font-style: italic;
  color: #4e4e4e;
}
section.box h2 {
  font-size: 1.3em;
}

/* -----------------------------------------
   NAV PAGE STYLES (for nav component)
----------------------------------------- */

li.nav-item {}

a.nav-link {
  padding-left: 10px;
}

a.nav-link:hover {
  background-color: var(--bs-primary-bg-subtle);
}

.navbar-toggler {
  z-index: 10; /* keep above bg color */
}

/* -----------------------------------------
   Project Page Specific CSS
----------------------------------------- */
section.header {
  text-align: center;
}

section.project-preview {
  display: flex;
  justify-content: center;
  width: 90%;
}

/*had to change from img to .figure bootstrap*/
.project-preview figure {
  width: 95%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

section.project-description {
  max-width: 90%;
}

section.technologies {
  min-width: 90%;
}

section.features {
  min-width: 90%;
}

/*development-process and future-improvements -> no set css*/


/* -----------------------------------------
   MEDIA QUERIES
----------------------------------------- */

/* MOBILE VIEW */
@media (max-width: 991.98px) {
  #navbarNav {
    /* background-color: black; */
    margin-top: clamp(5px, 1vh, 10px);
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 769px) {
  main.cont {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    align-items: start;
  }

  section.profile {
    grid-column: 1;
    grid-row: 1/3;
  }

  section.bio {
    justify-self: center;
    width: 95%;
    grid-column: 2/4;
    grid-row: 1;
    margin-top: 1.5rem;
  }

  section.news {
    grid-column: 1;
    grid-row: 3;
  }

  section.projects {
    margin-top: 1rem;
    grid-column: 2/4;
    grid-row: 2 / 6;
  }

  /* Project Page Specific Styles */
  /*grid setup for project pages*/
  main.project {
    display: grid;
    gap: 15px;

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, auto);
    align-items: start;
    grid-template-areas:
    "proj   proj  proj  proj  proj  proj"
    "image  image image desc  desc  desc"
    "image  image image desc  desc  desc"
    "tech   tech  tech  desc  desc  desc"
    "feat   feat  feat  desc  desc  desc"
    "dev    dev   dev   dev   dev   dev"
    "fut    fut   fut   fut   fut   fut"
    "git    git   git   git   git   git";
  }

  /* Grid Components of Project Page */
  section.header {
    grid-row: 1;
    grid-column: 1/-1;
    grid-area: proj;
    align-self: center;
    justify-self: center;
    margin-top: 20px;
  }

  section.project-preview {
    grid-row: 2/4;
    grid-column: 1/3;
    grid-area: image;
    justify-self: center;
  }
  /*.project-preview img {...} -> empty..*/
  

  section.project-description {
    grid-row: 2/4;
    grid-column: 3/-1;
    grid-area: desc;
    display: flex;
  }
  /*might remove plain para for some bootstrap*/
  .project-description p {
    color: #0a3f50;
  }

  section.technologies {
    grid-row: 4/5;
    grid-column: 1/3;
    grid-area: tech;
  }

  section.features {
    grid-row: 5/6;
    grid-column: 1;
    grid-area: feat;
  }

  section.development-process {
    grid-row: 6/7;
    grid-column: 1 / -1;
    grid-area: dev;
  }

  section.future-improvements {
    grid-row: 7/8;
    grid-column: 1 / -1;
    grid-area: fut;
  }

  section.repository {
    grid-row: 8/9;
    grid-column: 1 / -1;
    grid-area: git;
  }
}
