/* -----------------------------------------
   NAVIGATION STYLES
----------------------------------------- */
li.nav-item {}

a.nav-link {
  padding-left: 10px;
}

a.nav-link:hover {
  background-color: var(--bs-primary-bg-subtle);
}

.navbar-toggler {
  z-index: 10; /* keep above bg color */
}

/* -----------------------------------------
   MAIN CONTAINERS & BOXES
----------------------------------------- */
main.cont,
main.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 20px;
}

.box {
  flex: 1 1 auto;
  margin-top: 25px;
}

/* -----------------------------------------
   PROFILE / INFO STYLES
----------------------------------------- */
.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.pfp {
  width: 80%;
  max-width: 350px;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 10px;
}

.bio {
  width: 90%;
  font-style: italic;
  font-weight: 300;
}

/* Custom container for links */
.link-container {}

/* -----------------------------------------
   TYPOGRAPHY & HEADER STYLES
----------------------------------------- */
.ul {
  text-decoration: underline;
}
h2.name-header {
  font-size: 1.2em;
  font-weight: 400;
}
h2.news-header {
  font-size: 1.2em;
  font-weight: 500;
}
h3.contact-header {
  font-size: 1em;
  font-weight: 530;
}
h5.about-header {
  font-size: 1.03em;
  font-weight: 400;
}

/* -----------------------------------------
   LINK & ICON STYLES
----------------------------------------- */
.mylinks {
  text-decoration: none;
  color: black;
}

.mylinks:hover {
  margin-left: 2px;
  font-weight: bold;
}

.icon {
  display: inline;
  vertical-align: middle;
  max-height: 1em;
}

/* -----------------------------------------
   MEDIA QUERIES
----------------------------------------- */

/* MOBILE VIEW */
@media (max-width: 991.98px) {
  #navbarNav {
    /* background-color: black; */
    margin-top: clamp(5px, 1vh, 10px);
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 769px) {
  main.cont {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    align-items: start;
  }

  .profile {
    grid-column: 1;
    grid-row: 1/3;
  }

  .bio {
    justify-self: center;
    width: 95%;
    grid-column: 2/4;
    grid-row: 1;
    margin-top: 3rem;
  }

  .news {
    grid-column: 1;
    grid-row: 3;
  }

  .projects-box {
    margin-top: 1rem;
    grid-column: 2/4;
    grid-row: 2 / 6;
  }

  /* Project Page Specific Styles */
  .teaching,
  .research {
    grid-column: 1/4;
    grid-row: 1 / 6;
  }

  main.project {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    align-items: start;
  }

  /* Grid Components of Project Page */
  .header {
    grid-column: 1/6;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    margin-top: 20px;
  }

  .intro {
    grid-column: 1/3;
    grid-row: 2/4;
    justify-self: center;
    width: 90%;
  }

  .paper {
    grid-column: 3/6;
    grid-row: 2 / 6;
  }

  .intro img,
  .intro video {
    width: 90%;
    max-width: 600px;
    object-fit: cover;
  }

  .paper img {
    align-self: stretch;
    justify-self: start;
  }
}
